@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

nav {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
.name {
margin: 0;
white-space: nowrap;
font-weight: 580;
font-size: 24px;
color: #000;
text-decoration: none;
}

nav ul {
    width: 100%;
    text-align: right;
  }
  
nav ul li {
display: inline-block;
list-style: none;
margin: 10px 15px;
font-weight: 900;
}

nav ul li a {
color: #000;
text-decoration: none;
}

nav ul li a::after {
content: "";
display: block;
margin: left;
background-color: #000;
height: 3px;
width: 0;
left: 0;
bottom: -30px;
}

nav ul li a:hover::after {
width: 100%;
}

.contact {
    padding: 10px 20px;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 35px;
    cursor: pointer;
    margin-left: 15px;
    width: auto;
    text-align: center;
    justify-content: center;
  }
  
.contact a {
color: #fff;
font-size: 17px;
text-decoration: none;
text-decoration-line: none;
}

.contact:hover {
background-color: #4e4e4e;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Added */
}

form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px; /* Added */
}

form h3 {
    color: #000;
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 15px;
    background-color: #23db76;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 160px;
    margin: 20px auto 0;
    border-radius: 30px;
    white-space: nowrap;
}

#success-message {
    display: none;
    padding: 15px;
    background-color: #fff;
    font-size: 20px;
    border: 0;
    outline: none;
    width: 280px;
    white-space: nowrap;
}