@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.page {
    width: 100%;
    min-height: 100vh;
    background-color: #303030;
    color: #fff;
}   

nav {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
  
.name {
    margin: 0;
    white-space: nowrap;
    font-weight: 580;
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

nav ul {
    width: 100%;
    text-align: right;
}
  
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    font-weight: 900;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

nav ul li a::after {
    content: "";
    display: block;
    margin: left;
    background-color: #000;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -30px;
}

nav ul li a:hover::after {
    width: 100%;
}

.contact {
    padding: 10px 20px;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 35px;
    cursor: pointer;
    margin-left: 15px;
    width: auto;
    text-align: center;
    justify-content: center;
  }
  
.contact a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    text-decoration-line: none;
}

.contact:hover {
    background-color: #4e4e4e;
}

.heading {
    text-align: center;
    margin: 50px auto 20px;
    font-weight: 600;
}

form {
    width: 90%;
    max-width: 450px;
    margin: auto;
    height: 55px;
    background-color: #8c8c8b;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: solid;
    color: #000;
    font-size: 18px;
    padding: 0 30px;
}

form button {
    padding: 0 40px;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

#result {
    display: none;
}

.subheading {
    margin-left: 20px;
    margin-top: 20px;
}

.courses-info {
    align-items: center;
    margin: 10px 12px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.card-container {
    width: 400px;
    margin-bottom: 20px;
}

.img-container {
    width: 100%;
    height: 250px;
}

.img-container img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.text-container {
    font-size: 13px;
    height: 100px;
    border-radius: 0 0 12px 12px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.meta-info-container {
    text-align: left;
}

.data-container {
    text-align: right;
}