@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-color: #f0f0f0;
  color: #fff;
}

nav {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.name {
  margin: 0;
  white-space: nowrap;
  font-weight: 580;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

/* .dropdown-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 10px;
  background-color: #fff;
}

.dropdown-button p {
  font-weight: 700;
  font-size: 25px;
  position: relative;
  margin: 0;
  line-height: 1;
} */

nav ul {
  width: 100%;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
  font-weight: 900;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

nav ul li a::after {
  content: "";
  display: block;
  margin: left;
  background-color: #000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -30px;
}

nav ul li a:hover::after {
  width: 100%;
}

 
/* .dropdown-menu-wrap {
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.dropdown-menu-wrap.open-menu {
  max-height: 400px;
}

.dropdown-menu {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  width: 150px;
  margin-left: 160px;
  margin-right: 10px;
}

.dropdown-menu-capstone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #000;
}

.dropdown-menu-capstone h3 {
  font-weight: 500px;
}

.dropdown-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 5px 0 5px;
}

.dropdown-menu-items {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1a1a1a;
  margin: 12px 0;
}

.dropdown-menu-items p {
  width: 100%;
}

.dropdown-menu-items span {
  font-size: 16px;
  transition: transform 0.2s;
}

.dropdown-menu-items:hover span {
  transform: translateX(5px)
}

.dropdown-menu-items:hover p {
  font-weight: 600;
} */

.contact {
  padding: 10px 20px;
  background-color: #000;
  border: none;
  outline: none;
  border-radius: 35px;
  cursor: pointer;
  margin-left: 15px;
  width: auto;
  text-align: center;
  justify-content: center;
}

.contact a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  text-decoration-line: none;
}

.contact:hover {
  background-color: #4e4e4e;
}

.introduction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 60px);
  padding: 0 20px;
}

.intro-text-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 80%;
}

.intro-text {
  text-align: left;
  margin-right: 400px;
}

.intro-text h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #000;
  white-space: nowrap;
}

.intro-text h2 {
  font-family: 'Rock Salt', cursive;
  font-size: 36px; /* Adjust the font size */
  font-weight: 700; /* Adjust the font weight */
  line-height: 1.3;
  margin-bottom: 10px;
  color: black; /* Adjust the font color */
}

.social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-link {
  color: #000;
  margin-right: 20px;
  font-size: 24px;
  text-decoration: none;
}

.social-link:hover {
  color: #0077b5; /*Change the color on hover to your preferred color */
}

.intro-image {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.intro-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.splotch::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  background-color: rgba(128, 0, 128, 0.1); /* Adjust the splotch color and opacity */
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.move-left {
  animation: moveToLeft 1s forwards;
}

.move-left-harder {
  animation: moveToLeftHarder 1s forwards
}

@keyframes moveToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-80px); /* Adjust the value (-80px) based on how far you want the elements to move */
  }
}

@keyframes moveToLeftHarder {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-240px);
  }
}